# FastAPI and server
fastapi
uvicorn

# Data processing
numpy
pandas
scikit-learn
wfdb
psutil
tqdm

# ML libraries
torch
xgboost
imbalanced-learn
lightgbm
catboost

# API requests
requests

# JSON Parsing
orjson
