# FastAPI and server
fastapi
uvicorn

# Data processing
numpy
pandas
scikit-learn
wfdb
psutil
tqdm

# ML libraries
tensorflow
torch
xgboost
imbalanced-learn
lightgbm
catboost

# Database
psycopg2
pymongo

# API requests and streaming
requests
kafka-python
